<html>
<head>
	<title></title>
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="./main.css">
</head>
<body>
	<div id="header">
		<img id="logo" src="mad_logo_black.png">
			<div id="nav">
				<a href="#about">About</a> | 
				<a href="#photos">Photos</a> | 
				<a href="#community">Community</a> | 
				<a href="#events">Events</a>
			</div>
	</div>
	<div class="container black" id="about">
		About
	</div>
	<div class="container white" id="photos">
	Photos
	<br>
	<%= html %>
		<!-- <img src="mad_meet_1.jpg" style="opacity:0.9;"> -->
	</div>
	<div class="container black" id="community">
		Community
	</div>
	<div class="container white" id="events">
		MAD Events
	</div>
	<div class="container footer"></div>
</body>
</html>